@import "@/css/component-theme.sass"

.rename-rule-selector
    @include componentTheme
    width: 350px

    h2,h3
        margin: 0
        font-weight: 400
        font-size: 18px

    p
        margin: 0
        font-size: 12px
        margin-left: 6px
        margin-bottom: 2px

    h2.title
        margin-bottom: 7px
        margin-left: 7px

    .container
        border: 1px solid #7d93a8a1
        border-radius: 5px
        padding: 11px 11px

        input
            background: #272727
            font-size: 21px
            border: none
            color: white
            padding: 5px 9px
            border-radius: 4px
            font-family: "pretendard jp"
            width: 100%
            box-sizing: border-box
            margin-bottom: 14px

        select
            color: white
            background: #272727
            border: none
            width: 190px
            border-radius: 4px
            font-family: "pretendard jp"
            font-size: 15px
            padding: 5px 5px

    .item-count
        display: flex
        justify-content: center
        margin-top: 8px

        h3
            font-size: 15px