@import "@/css/component-theme.sass"

.rename-rule-selector
    @include componentTheme
    width: 350px

    h2
        margin: 0
        font-weight: 400
        font-size: 18px

    p
        margin: 0
        font-size: 12px
        margin-left: 6px
        margin-bottom: 2px

    .container
        border: 1px solid #7d93a8a1
        border-radius: 5px
        padding: 11px 11px

        input
            background: #272727
            font-size: 21px
            border: none
            color: white
            padding: 5px 9px
            border-radius: 4px
            font-family: "pretendard jp"
            width: 100%
            box-sizing: border-box
            margin-bottom: 14px