// theme shared by most components

@import "@/css/fonts.sass"

@mixin componentTheme
    font-family: "pretendard jp"
    color: #e4e4e4

input.themed-input-box
    background: #272727
    font-size: 15px
    border: none
    color: white
    padding: 10px 9px
    border-radius: 4px
    font-family: "pretendard jp"
    width: 100%
    box-sizing: border-box
    margin-bottom: 14px

select.themed-selector-box
    color: white
    background: #272727
    border: none
    width: 190px
    border-radius: 4px
    font-family: "pretendard jp"
    font-size: 15px
    padding: 5px 5px

// label for an input box
p.input-box-label
    margin: 0
    font-size: 12px
    margin-left: 6px
    margin-bottom: 2px