@use "@/css/page-theme.sass"
@use "@/css/component-theme.sass"

main
    display: flex
    flex-direction: column
    max-width: 830px
    margin: auto

.submit-zone
    margin-bottom: 30px
    margin-top: 80px
    display: flex
    justify-content: center

    .contain
        width: 500px

        .button-contain
            display: flex

            .inner-contain
                flex: 1
                justify-content: center
                display: flex

.rename-rules
    display: flex
    justify-content: center
    margin-bottom: 30px

    .rule-contain
        display: flex
        justify-content: center
        align-items: center
        padding: 12px

.bottom-zone
    display: flex
    justify-content: center