@import "@/css/page-theme.sass"
@import "@/css/component-theme.sass"

main
    display: flex
    flex-direction: column
    max-width: 830px
    margin: auto

.top-zone
    height: 80px

.rename-rules
    display: flex
    flex: 1.8

    .rule-contain
        flex: 1
        display: flex
        justify-content: center
        align-items: center
        padding: 12px

.submit-zone
    padding: 20px 0
    display: flex
    flex: 1
    justify-content: center

    .contain
        width: 500px

        .button-contain
            display: flex

            .inner-contain
                flex: 1
                justify-content: center
                display: flex