@import "@/css/page-theme.sass"

main
    display: flex
    flex-direction: column
    overflow: hidden

.tiles
    flex: 1
    overflow: auto

.top-zone
    padding: 10px
    display: flex
    align-items: center

    & > div
        display: inline-block

    .drag-handler-zone
        margin-right: 10px

    .new-group-drop-zone-zone
        flex: 1

.status-bar
    height: 30px