:global(html, body, main)
    height: 100%
    width: 100%
    margin: 0

:global(body)
    background: #313133

main
    display: flex
    flex-direction: column

.tiles
    flex: 1

.top-zone
    height: 80px

.status-bar
    height: 30px