.image-tile
    --width: 200px

    user-select: none
    font-family: roboto
    width: var(--width)

    .img-contain
        width: var(--width)
        height: 200px
        display: flex
        align-items: center
        overflow: hidden
        justify-content: center
        border-radius: 8px
        border: 3px solid transparent
        cursor: pointer
        box-sizing: border-box

        img
            // use for wide images
            &.wide-fit
                width: 100%

            &.tall-fit
                height: 100%

            &.loading
                opacity: 0

        p
            font-size: 20px

        &:hover
            border-color: black

    .caption
        text-align: center
        margin-top: 6px