.image-tile
    --width: 200px

    user-select: none
    font-family: roboto
    width: var(--width)

    .img-contain
        width: var(--width)
        height: 200px
        display: flex
        align-items: center
        overflow: hidden
        justify-content: center
        border-radius: 8px
        border: 3px solid transparent
        cursor: pointer
        box-sizing: border-box
        position: relative

        img
            // use for wide images
            &.wide-fit
                width: 100%

            &.tall-fit
                height: 100%

            &.loading
                opacity: 0

        p.filetype
            font-size: 20px

        .selected-overlay
            position: absolute
            top: 0
            left: 0
            height: 100%
            width: 100%
            display: flex
            align-items: center
            justify-content: center
            background: #6382e647
            color: white
            font-size: 30px
            display: none

            p
                text-shadow: 0px 0px 5px black

        &:hover
            border-color: black

        &.selected
            border-color: #1f6ca6
            border-style: dashed

            .selected-overlay
                display: flex

    .caption
        text-align: center
        margin-top: 6px