.drag-proxy
    --initial-border: #ffffffd9

    display: inline-flex
    width: 85px
    height: 45px
    align-items: center
    justify-content: center
    border: 2px dotted var(--initial-border)
    user-select: none
    cursor: grab
    font-family: "geist mono"

    p
        margin: 0
        line-height: .8

        :global(.lucide-hand)
            padding-right: 5px

    &.inactive
        opacity: .6
        cursor: not-allowed

        &:hover
            border-color: var(--initial-border)

    &:hover
        border-color: white